Repository rebecka-oscarsson/lollipop, pull requests merged in 2021-12, with the labels that each got.

#45 Create menu component
  src/components/Menu/Menu.jsx
  src/components/Menu/Menu.module.scss
Labels: Landing view

#51 Update index.html
  public/favicon.ico
  public/index.html
Labels: Minor change

#54 "Accept cookies"-btn
  src/components/CookieBanner/CookiesBtn/CookiesBtn.jsx
  src/components/CookieBanner/CookiesBtn/CookiesBtn.module.scss
  src/variables.modules.scss
Labels: Cookies banner

#55 Add normalize.css, Import to App.jsx
  src/App.jsx
  src/normalize.css
Labels: Minor change

#57 Landing-page: Adds background-images and wavy border🎨
  src/components/LandingPage/LandingPage.jsx
  src/components/LandingPage/LandingPage.module.scss
  src/images/logo.png
  src/images/pokebowl.png
  src/images/pokebowl1.png
Labels: Landing view

#58 Feature: Animated arrow
  src/components/LandingPage/LandingPage.module.scss
Labels: Landing view

#65 Meal wrapper edit
  src/App.scss
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.module.scss
  src/components/MealWrapper/MealWrapper.jsx
  src/components/MealWrapper/MealWrapper.module.scss
  src/variables.modules.scss
Labels: Måltidskort wrapper

#69 Fix so its easier to see and click on "close-menu"-btn
  src/components/Menu/Menu.module.scss
Labels: Landing view, Minor change

#71 Fix prenumerera knappen
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.module.scss
Labels: Footer, Minor change

#77 Fix accessability for hamburger-menu
  src/components/Menu/Menu.jsx
Labels: Landing view

#79 Image width
  src/components/LandingPage/LandingPage.jsx
  src/components/LandingPage/LandingPage.module.scss
Labels: Landing view
